:root {
    --color-primary: #ffffff;
    --color-secondary: #f7f6ff;
    --color-accent: #634aff;
    --color-text-primary: #0a0a0a;
    --color-text-secondary: #6b7280;
    --color-text-tertiary: #5490ea;
    --color-icon-highlight: #efedff;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-text-primary);
}

/* Common styling */

button {
    align-self: flex-start;
    padding: 0.7rem 1rem;
    color: var(--color-primary);
    background-color: var(--color-accent);
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
}

i {
    color: var(--color-accent);
}

a {
    text-decoration: none;
    color: var(--color-text-primary);
}

h1 {
    text-align: center;
}

p,
li {
    color: var(--color-text-secondary);
}

ul {
    list-style-position: inside;
}

h3 {
    font-weight: 500;
    font-size: 1rem;
}

.card {
    background-color: var(--color-secondary);
    padding: 1.2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    border-radius: 1rem;
    min-width: 12rem;
}

.card h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.card {
    transition: all 0.3s ease;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

/* Common styling ends */

.aside-button {
    background-color: transparent;
    position: fixed;
    display: none;
    margin: 1.5rem;
    padding: 0;
    z-index: 2;
}

.aside-cross-button {
    background-color: transparent;
    position: fixed;
    display: none;
    margin: 1.5rem;
    padding: 0;
    z-index: 2;
    right: 0px;
}

.aside-button i,
.aside-cross-button i {
    color: var(--color-text-primary);
    font-size: 1.5rem;
}

aside {
    width: 18%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-secondary);
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
}

.focused {
    background-color: #e8e5ff;
}

nav i {
    color: var(--color-text-primary);
    width: 1.5rem;
    text-align: center;
    margin-right: 0.6rem;
}

.profile {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    object-fit: cover;
}

.name {
    color: var(--color-text-primary);
    margin-bottom: 0.4rem;
}

main {
    width: 82%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_content {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding-bottom: 8rem;
}

.main_content > h2 {
    margin-top: 0.8rem;
}

.plan_status,
.plan_CTA {
    text-align: center;
    color: var(--color-text-tertiary);
}

#upgrade_plan_button {
    cursor: pointer;
}

.card {
    background-color: var(--color-secondary);
    padding: 1.2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    border-radius: 1rem;
    min-width: 12rem;
}

.card h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.icon_container {
    padding: 0.6rem;
    background-color: var(--color-icon-highlight);
    border-radius: 50%;
    align-self: self-start;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 2.5rem;
}

.about_current_plan {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.about_current_plan p {
    margin-bottom: 0.4rem;
}

.pricing_card_cluster {
    display: flex;
    gap: 0.6rem;
    flex-wrap: wrap;
}

.subscription_stop button {
    margin-top: 0.8rem;
}

.subscription_preferences {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.subscription_preferences_input {
    background-color: #f8f8f7;
    padding: 0.8rem;
    color: var(--color-text-secondary);
    font-weight: 600;
    font-size: 1rem;
}

.secondary_button {
    background-color: var(--color-secondary);
    color: var(--color-text-tertiary);
    font-weight: 600;
}

.auto_renewal_container {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.auto_renewal_container .icon_container {
    border-radius: 0.4rem;
    padding: 0.7rem;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin-left: auto;
}

/* Toggle Switch logic */

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Toggle Switch logic ends */

.support_content {
    display: flex;
    gap: 1rem;
}

.support_container .icon_container {
    border-radius: 0.4rem;
}

.support_container a {
    padding: 0;
}

.available_plans_card_cluster {
    display: flex;
    gap: 0.6rem;
    flex-wrap: wrap;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 1.4rem 0;
    border-bottom: 2px solid #6b728030;
    font-weight: 400;
}

.need_help {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.need_help .icon_container {
    border-radius: 0.4rem;
    padding: 0.7rem;
}

.need_help a {
    padding: 0;
}

.need_help_right_icons {
    margin-left: auto;
}

@media screen and (max-width: 1200px) {
    aside {
        width: 25%;
    }
    main {
        width: 75%;
    }
}

@media screen and (max-width: 1150px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    h1{
        padding: 0 1.5rem;
    }
    .aside-button {
        display: block;
    }
    main {
        width: 100%;
    }
    html {
        font-size: 14px;
    }
    .pricing_card_cluster > div,
    .available_plans_card_cluster > div {
        padding: 2rem 3rem;
        margin: auto;
        min-width: 220px;
    }
    table {
        font-size: 11px;
    }
    aside {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 2;
        flex-direction: column;
        background-color: var(--color-secondary);
        width: 60%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }
}
button {
    cursor: pointer;
}